/* ================= ABOUT PAGE ================= */
.about-container {
    padding: 4rem 10%;
    line-height: 1.7;
  }
  
  .about-container h2 {
    color: var(--brand);
    margin-bottom: 1rem;
  }
  
  .about-container p {
    margin-bottom: 1rem;
    color: var(--text-light);
    font-size: 1.1rem;
  }
  