<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trupik | Explore Your Next Adventure</title>

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">

{% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
          <div class="logo">
            <img src="{{ url_for('assets', path='icons/logo.png') }}" alt="Trupik Logo">
            <span>Trupik</span>
          </div>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/treks">Treks</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </header>
      


<main>
{% block content %}{% endblock %}
</main>


<footer>
<p>Find Your Next Adventure Here.</p>
</footer>


<script src="/static/js/main.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>